{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 39, "knowledge_revision": 174, "git_revision": "5da6b977cd85dec16ba29f747ddf78a43d39235c", "hash": "e6fde05dec64f9856d3978a4a5e4bf48", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/macos/Runner/Release.entitlements", "revision_history": [{"174": "5da6b977cd85dec16ba29f747ddf78a43d39235c"}]}