{"is_source_file": true, "file_id": 20, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "503b3087a311ca99fdf3ea5a5a995eaf", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "knowledge_revision": 21}