{"is_source_file": true, "file_id": 52, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "6d0893f042c45b80feec6d0ffccf6748", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/ios/Flutter/Generated.xcconfig", "knowledge_revision": 54}