{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 54, "knowledge_revision": 190, "git_revision": "5da6b977cd85dec16ba29f747ddf78a43d39235c", "hash": "bd6254e10068a9a3539aa9710626ac24", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/ios/Flutter/Release.xcconfig", "revision_history": [{"190": "5da6b977cd85dec16ba29f747ddf78a43d39235c"}]}