{"is_source_file": false, "format": "XML/Plist", "description": "Configuration plist file for Xcode workspace checks, not a source code file.", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": ["IDEDidComputeMac32BitWarning", "plist", "xcshareddata", "workspace", "Xcode"], "state": 2, "file_id": 49, "knowledge_revision": 189, "git_revision": "5da6b977cd85dec16ba29f747ddf78a43d39235c", "hash": "117105d2f2ee718eb485a07574a219b6", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist", "revision_history": [{"189": "5da6b977cd85dec16ba29f747ddf78a43d39235c"}]}